*
!.gitignore


!/adult/man/skin1.svg
!/adult/man/skin2.svg
!/adult/man/skin3.svg
!/adult/man/skin4.svg

!/adult/woman/skin1/blackHair.svg
!/adult/woman/skin1/blondHair.svg
!/adult/woman/skin1/brownHair.svg
!/adult/woman/skin1/lightBrownHair.svg

!/adult/woman/skin2/blackHair.svg
!/adult/woman/skin2/blondHair.svg
!/adult/woman/skin2/brownHair.svg
!/adult/woman/skin2/lightBrownHair.svg

!/adult/woman/skin3/blackHair.svg
!/adult/woman/skin3/blondHair.svg
!/adult/woman/skin3/brownHair.svg
!/adult/woman/skin3/lightBrownHair.svg

!/adult/woman/skin4/blackHair.svg
!/adult/woman/skin4/blondHair.svg
!/adult/woman/skin4/brownHair.svg
!/adult/woman/skin4/lightBrownHair.svg

!/babies/flipped/girl11.svg
!/babies/flipped/girl22.svg
!/babies/flipped/girl33.svg
!/babies/flipped/girl44.svg
!/babies/girl1.svg
!/babies/girl2.svg
!/babies/girl3.svg
!/babies/girl4.svg
!/babies/boy1.svg
!/babies/boy2.svg
!/babies/boy3.svg
!/babies/boy4.svg

!/background/adult.svg
!/background/gameover.svg
!/background/Kid.svg
!/background/Teen.svg

!/items/Boys/Job.svg
!/items/Boys/legoes.svg
!/items/Boys/Train.svg
!/items/Boys/Videogame.svg
!/items/Boys/Weights.svg

!/items/Girls/Doll.svg
!/items/Girls/Family.svg
!/items/Girls/Fashion.svg
!/items/Girls/Makeup.svg
!/items/Girls/ragdoll.svg

!/items/Neutral/Family.svg
!/items/Neutral/House.svg

!/teen/boy/skin1/blackHair.svg
!/teen/boy/skin1/blondHair.svg
!/teen/boy/skin1/brownHair.svg
!/teen/boy/skin1/lightBrownHair.svg

!/teen/boy/skin2/blackHair.svg
!/teen/boy/skin2/blondHair.svg
!/teen/boy/skin2/brownHair.svg
!/teen/boy/skin2/lightBrownHair.svg

!/teen/boy/skin3/blackHair.svg
!/teen/boy/skin3/blondHair.svg
!/teen/boy/skin3/brownHair.svg
!/teen/boy/skin3/lightBrownHair.svg

!/teen/boy/skin4/blackHair.svg
!/teen/boy/skin4/blondHair.svg
!/teen/boy/skin4/brownHair.svg
!/teen/boy/skin4/lightBrownHair.svg

!/teen/girl/Skin1/blackHair.svg
!/teen/girl/Skin1/blondHair.svg
!/teen/girl/Skin1/brownHair.svg
!/teen/girl/Skin1/lightBrownHair.svg

!/teen/girl/Skin2/blackHair.svg
!/teen/girl/Skin2/blondHair.svg
!/teen/girl/Skin2/brownHair.svg
!/teen/girl/Skin2/lightBrownHair.svg

!/teen/girl/Skin3/blackHair.svg
!/teen/girl/Skin3/blondHair.svg
!/teen/girl/Skin3/brownHair.svg
!/teen/girl/Skin3/lightBrownHair.svg

!/teen/girl/Skin4/blackHair.svg
!/teen/girl/Skin4/blondHair.svg
!/teen/girl/Skin4/brownHair.svg
!/teen/girl/Skin4/lightBrownHair.svg
